/* 
Project Name: Restful
Author: Eshan Mohabeer
*/

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
 }

/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

/* Hide the navigation buttons at the start of the program */
#previousbutton,#nextbutton{
	visibility: hidden;
}

/* The 'item-container' div is created dynamically by the JavaScript.
The below CSS styles this, as well as its containing elements, to all align correctly on the page */
#item-container{
	display: inline-block;
	margin: 20px;
}

img,p{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

p{
	width:  150px;
	text-align: center;
}